<style>

#content-left {                                                                 
  color: ThreeDDarkShadow;                                                      
  font-family: Verdana,Tahoma,Arial;                                            
  font-size: 12px;                                                              
  width: 40%;                                                                 
  float: left;                                                                  
}                                                                               
                                                                                
#content-right {                                                                
  color: ThreeDDarkShadow;                                                      
  font-family: Verdana,Tahoma,Arial;                                            
  font-size: 12px;                                                              
  width: 60%;                                                                 
  float: right;                                                                 
}  

</style>



<div class="span11">                                                            
  <div class="well sidebar-nav page-content" style="height:300px;"> 




<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">CONTACTS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          




<div id = "content-left">

<div align=center>THAZI EGGS Limited,</div>        
<div align=center>Off Queens Drive,</div>         
<div align=center>Area 1,</div>     
<div align=center>P.O. Box XXX</div>             
<div align=center>Lilongwe</div>                   
<div align=center>Malwi</div>                      
<div align=center><BR/></div>                       
<div align=center>PHONE</div>                      
<div align=center>+265 1 XXXX XX</div>             
<div align=center>+265 XXX XXX</div>           
<div align=center><a href="/">http://www.thazieggs.com</a></div>

</div>

<div id = "content-right">

<form name="form1" method="post" action="mailto:support@webpage-maker.com" enctype="text/plain" style="margin:0px">
Name:&nbsp;&nbsp;&nbsp;&nbsp;<input name="name" type="text" style="width:196px;left:613px;z-index:42"><br/>
Subject:&nbsp;<input name="subject" type="text" style="width:196px;left:613px;z-index:43"><br/>
<textarea name="message" style="width:277px;height:100px;z-index:44"></textarea><br/>
<input name="submit" type="submit" value="Send message" style="z-index:45">
</form>

</div>







  </div>
</div>
