<style>

.floatLeft {                                                                    
  float: left;                                                                  
  margin: 4px;                                                                  
  width: 200px;                                                                 
  height: 150px;                                                                
} 

.floatRight {                                                                    
  float: right;                                                                  
  margin: 4px;                                                                  
  width: 200px;                                                                 
  height: 150px;                                                                
} 


</style>



<div class="span11">                                                            
  <div class="well sidebar-nav page-content"> 




<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">OUR PRODUCTS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          

<%= image_tag('4.jpg' , :border => 0 ,                          
    :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor
Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum          dolorLaoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum     dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum    dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<div>                                                                           
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
                                                                                
<%= image_tag('4.jpg' , :border => 0 ,                          
    :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor
Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum          dolorLaoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum     dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum    dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<div>                                                                           
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
                                                                                
<%= image_tag('4.jpg' , :border => 0 ,                          
    :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor
Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum          dolorLaoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum     dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum    dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<div>                                                                           
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
                                                                                

<%= image_tag('4.jpg' , :border => 0 ,                          
    :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor
Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<p>Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum          dolorLaoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum     dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum    dolor Laoreet dolore magnaorem ipsum dolor Laoreet dolore magnaorem ipsum dolor.</p>
                                                                                
<div>                                                                           
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
                                                                                



  </div>
</div>
